<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <%= render 'books/newform', book: @book %>
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to books_path(books.id) do %>
                <%= image_tag book.get_image %>
                <br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to user_path do %>
                <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path(book), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(book.id), class: "btn btn-danger", method: :delete, data: {confirm: "本当に消しますか？"}  %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
